#media-uploader1 .dz-message {
	font-size: 15px;
	display: table-cell;
	vertical-align: middle;
	color: #a0a5aa;
    cursor: pointer;
    margin: 15px;
    cursor: pointer;
    text-align: center;
}
#media-uploader1 img {
	border-radius: 20px;
}

.alert {
    display: flex;
    justify-content: space-between;
}
.close-button{

    display: flex;
    justify-content: center;
    width: 100%;
}
.close-button span {
    cursor:pointer;
    color: red;
}

.alert {
    margin-top: 12px;
}

#media-uploader1 {
    cursor: pointer;
	min-height: 150px;
	border: 2px solid rgba(0, 0, 0, 0.3);
	background: white;
    margin: auto;
    display: flex;
    justify-content: center;
    border-radius: 18px;
    align-items: center;
    width: 317px;
    height: 189px;
}