<nav class="navbar navbar-expand-lg bg-body-tertiary">
	<div class="container-fluid">
		<a class="navbar-brand" href="">EcommSys</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0 admNavbar" *ngIf="!is_buyer_view">
				<li class="nav-item">
					<a class="nav-link" routerLink="/admin/productos"
						[ngClass]="{'active':activeRoute == 'products-adm'}" aria-current="page" href="#">Productos</a>
				</li>
				<li class="nav-item" [ngClass]="{'active':activeRoute == 'users-adm'}">
					<a class="nav-link" routerLink="/admin/users" href="">Usuarios</a>
				</li>
				<li class="nav-item" [ngClass]="{'active':activeRoute == 'transcts-adm'}">
					<a class="nav-link" routerLink="/admin/transacts" href="">Transacciones</a>
				</li>
			</ul>

			<!--Buyer View-->
			<ul class="navbar-nav me-auto mb-2 mb-lg-0 admNavbar" *ngIf="is_buyer_view">
				<li class="nav-item">
					<a class="nav-link" routerLink="/buyers/productos"
						[ngClass]="{'active':activeRoute == 'products-byrs'}" aria-current="page" href="#">Productos</a>
				</li>
				<li class="nav-item" [ngClass]="{'active':activeRoute == 'see-transacts-byr'}">
					<a class="nav-link" routerLink="/buyers/transacts" href="">Transacciones</a>
				</li>
			</ul>
		</div>
	</div>
</nav>