<nav class="navbar navbar-expand-lg">
	<div class="container-fluid">
	  <a class="navbar-brand" routerLink="/views/admin/index">CrediSistem</a>
	  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		<!-- Admin View -->
		<ul class="navbar-nav me-auto mb-2 mb-lg-0 admNavbar" *ngIf="!is_buyer_view">
		  <li class="nav-item" [ngClass]="{'active': activeRoute == 'home-adm'}">
			<a class="nav-link" routerLink="/admin/index">Inicio</a>
		  </li>
		  <li class="nav-item" [ngClass]="{'active': activeRoute == 'products-adm'}">
			<a class="nav-link" routerLink="/admin/productos">Productos</a>
		  </li>
		  <li class="nav-item" [ngClass]="{'active': activeRoute == 'users-adm'}">
			<a class="nav-link" routerLink="/admin/users">Usuarios</a>
		  </li>
		  <li class="nav-item" [ngClass]="{'active': activeRoute == 'transcts-adm'}">
			<a class="nav-link" routerLink="/admin/transacts">Transacciones</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" routerLink="/admin/transacts" (click)="downloadRep()">Reporte</a>
		  </li>
		</ul>
  
		<!-- Buyer View -->
		<ul class="navbar-nav me-auto mb-2 mb-lg-0 admNavbar" *ngIf="is_buyer_view">
		  <li class="nav-item" [ngClass]="{'active': activeRoute == 'products-byrs'}">
			<a class="nav-link" routerLink="/buyers/productos">Producto F</a>
		  </li>
		  <li class="nav-item" [ngClass]="{'active': activeRoute == 'see-transacts-byr'}">
			<a class="nav-link" routerLink="/buyers/transacts">Transacciones</a>
		  </li>
		</ul>
	  </div>
	</div>
  </nav>
  