<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">Mi Tienda</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a [routerLink]="['/buyer/products']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link">
            Productos
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/buyer/transacts']" routerLinkActive="active" class="nav-link">
            Mis Compras
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/buyer/profile']" routerLinkActive="active" class="nav-link">
            Perfil
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
