<app-navbar  [activeRoute]="'transcts-adm'"></app-navbar>


<section class="main container-sm mt-4">
    <section class="header-page">
        <h1>
            Transacciones del sistema
        </h1>
        <h5><b>Total:</b> {{totalSis}}</h5>
    </section>
    <hr>


    <table class="table table-hover">
        <thead> 
            <th>Id</th>
            <th>Producto</th>
            <th>Comprador</th>
            <th>Fecha</th>
            <th>Cantidad pedida</th>
            <th>Total</th>
        </thead>
        <tbody>
            <tr *ngFor="let transact of transactsData ">
                <td>{{transact.id}}</td>
                <td>{{transact.product}}</td>
                <td>{{transact.buyer}}</td>
                <td>{{transact.createdAt}}</td>
                <td>{{transact.quantity}}</td>
                <td>{{transact.total}}</td>
            </tr>
        </tbody>
    </table>
</section>
